div{
    margin: 20px;
}

.px{
    width: 100px;
    height: 100px;
    background: red;
}

.vh{
    width: 100px;
    height: 20vh;
    background: green;
}

.vw{
    width: 20vw;
    height: 100px;
    background: blue;
}

@media screen and (max-width: 500px) {
    /* CSS */
}

@media screen and (orientation: landscape) {
    /* Styles for the landscape orientation */
}

@media screen and (orientation: portrait) {
    /* Styles for the portrait orientation */
}

@media screen and (min-width: 320px),
screen and (max-width: 425px) {
    /* Styles for the certain range of values */
}
