*{
    padding: 0;
    margin: 0;
}

header{
    width: 100%;
    height: 150px;
}

header, footer{
    background: yellow;
}

section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 150px;
    background: cyan;
}

div{
    width: 20%;
    height: 100px;
}

.one{
    background-color: chartreuse;
}

.two{
    background-color: chocolate;
}

.three{
    background-color: cornflowerblue;
}

footer{
    width: 100%;
    height: 150px;
}

@media screen and (max-width:425px){
    
    section{
        flex-direction: column;
    }
    div{
        margin-top: 10px;
        margin-bottom: 15px;
        width: 300px;
    }

    
}